In [3]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import dask
import dask.dataframe as dd
import time
import os

# print(dask.__version__)

In [14]:
# Convert JSON to parquet files

# Paths to save the Parquet files
# parquet_dir = "../../data/processed/"

# # 1. 
# # Convert pandas DataFrames to Parquet
# data_tip = pd.read_json(f"../../data/raw/yelp_academic_dataset_tip.json", lines=True)
# data_tip.to_parquet(os.path.join(parquet_dir, "yelp_academic_dataset_tip.parquet"))

# # Convert Dask DataFrames to Parquet
# data_businesses = dd.read_json(f"../../data/raw/yelp_academic_dataset_business.json", lines=True)
# data_businesses.to_parquet(os.path.join(parquet_dir, "yelp_academic_dataset_business.parquet"))

# data_checkin = dd.read_json(f"../../data/raw/yelp_academic_dataset_checkin.json", lines=True)
# data_checkin.to_parquet(os.path.join(parquet_dir, "yelp_academic_dataset_checkin.parquet"))



# TODO
# data_user = dd.read_json(f"../../data/raw/yelp_academic_dataset_user.json", lines=True)
# data_user.to_parquet(os.path.join(parquet_dir, "yelp_academic_dataset_user.parquet"))

# # Read the large JSON file with Dask in chunks and convert to Parquet
# data_review = dd.read_json(f"../../data/raw/yelp_academic_dataset_review.json", lines=True, blocksize="64MB")
# data_review.to_parquet(os.path.join(parquet_dir, "yelp_academic_dataset_review.parquet"))



# Adjust the blocksize to a smaller value to read a subset of the data
data_user = dd.read_json('../../data/raw/yelp_academic_dataset_user.json', lines=True, blocksize=2000000)  # 1MB blocksize

# Compute a small sample
sample_user_sample = data_user.head(100)  # Adjust the number of rows to read




# # Review Data
# data_review = dd.read_json(os.path.join(json_dir, "yelp_academic_dataset_review.json"), lines=True, blocksize="64MB")
# sample_review = data_review.sample(frac=0.1)  # Adjust the fraction as needed
# sample_review.to_parquet(os.path.join(parquet_dir, "yelp_academic_dataset_review_sample.parquet"))

In [8]:
# Read Parquet Files

data_tip = dd.read_parquet(f"../../data/processed/yelp_academic_dataset_tip.parquet")
data_businesses = dd.read_parquet(f"../../data/processed/yelp_academic_dataset_business.parquet/part.0.parquet")
data_checkin = dd.read_parquet("../../data/processed/yelp_academic_dataset_checkin.parquet/part.0.parquet")

# Load partial data as jsons









# # Set respective indices
data_businesses = data_businesses.set_index('business_id')
data_checkin = data_checkin.set_index('business_id')

# Define a function for date conversion
def parse_dates(date_str):
    try:
        # Split the string if it contains multiple dates
        dates = date_str.split(', ')
        return pd.to_datetime(dates, format="%Y-%m-%d %H:%M:%S", errors='coerce')
    except Exception as e:
        return pd.NaT

# Apply the function with meta argument
data_checkin['date'] = data_checkin['date'].apply(
    parse_dates, 
    meta=('x', 'datetime64[ns]')
)



# # Compute to view the result
# result_businesses = data_businesses.compute()
# result_checkin = data_checkin.compute()


# print(result_businesses.head())
# print(result_checkin.head())

In [9]:
# print(data_tip['business_id'].nunique().compute())
# print(data_tip['user_id'].nunique().compute())
# print(data_tip.shape[0].compute())

1987897

In [12]:
sample_user_sample.shape

(39, 22)

In [13]:
sample_user_sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             39 non-null     string
 1   name                39 non-null     string
 2   review_count        39 non-null     int64
 3   yelping_since       39 non-null     string
 4   useful              39 non-null     int64
 5   funny               39 non-null     int64
 6   cool                39 non-null     int64
 7   elite               39 non-null     string
 8   friends             39 non-null     string
 9   fans                39 non-null     int64
 10  average_stars       39 non-null     float64
 11  compliment_hot      39 non-null     int64
 12  compliment_more     39 non-null     int64
 13  compliment_profile  39 non-null     int64
 14  compliment_cute     39 non-null     int64
 15  compliment_list     39 non-null     int64
 16  compliment_note     39 non-null     int64
 17  compliment_plain    39 non-null     int64
 18  compliment_cool     39 non-null     int64
 19  compliment_funny    39 non-null     int64
 20  compliment_writer   39 non-null     int64
 21  compliment_photos   39 non-null     int64
dtypes: float64(1), int64(16), string(5)
memory usage: 1.1 MB

In [16]:
sample_user_sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84 entries, 0 to 83
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             84 non-null     string
 1   name                84 non-null     string
 2   review_count        84 non-null     int64
 3   yelping_since       84 non-null     string
 4   useful              84 non-null     int64
 5   funny               84 non-null     int64
 6   cool                84 non-null     int64
 7   elite               84 non-null     string
 8   friends             84 non-null     string
 9   fans                84 non-null     int64
 10  average_stars       84 non-null     float64
 11  compliment_hot      84 non-null     int64
 12  compliment_more     84 non-null     int64
 13  compliment_profile  84 non-null     int64
 14  compliment_cute     84 non-null     int64
 15  compliment_list     84 non-null     int64
 16  compliment_note     84 non-null     int64
 17  compliment_plain    84 non-null     int64
 18  compliment_cool     84 non-null     int64
 19  compliment_funny    84 non-null     int64
 20  compliment_writer   84 non-null     int64
 21  compliment_photos   84 non-null     int64
dtypes: float64(1), int64(16), string(5)
memory usage: 1.9 MB